<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">					<!-- 시험에 이부분만 나오고 아래는 다 적어야함 ㅜ★★★★★ -->

<mapper namespace = "DAO.FavoriteMapper">
<insert id = "insertFavorite" parameterType="Favorite"> <!-- 파라미터타입인지, 리절트타입인지 잘 판단하깅 -->
insert into Favorite
(
	memID
	,twoPlaceSeq
)
values(
	#{memID}
	,#{twoPlaceSeq}
)
</insert>

<select id="favoriteCheck" parameterType = "Favorite" resultType="int">
select count(*)
from Favorite
where memID = #{memID} and twoPlaceSeq = #{twoPlaceSeq}
</select>


<select id="listFavorite" resultType="Favorite">
select 
	memID
	,twoPlaceSeq
from Favorite
</select>


<!-- 
별칭값을 똑같이 만들어줘야함!! -->
<select id="favoriteListValueSQL" parameterType = "String" resultType="FavoriteListValueVO">
select 
	c.placeName placename1, d.placeName placename2
from 
	Favorite a, TwoPlace b, Place c, Place d
where 
	a.TwoPlaceSeq = b.TwoPlaceSeq 
	and  b.placeID1 = c.placeID
	and  b.placeID2 = d.placeID
	and  a.memID = #{memID}

</select>

 
<select id="test" parameterType = "String" resultType="FavoriteListValueVO">
select
	a.memID, a.memAddress
from Member a 
where a.memID= #{memID}
</select>







</mapper>