<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- DB접속정보 값을 가지고 있는 파일 설정 -->
	<properties resource="db.properties" />

	<!-- Java Class에 대한 alias 지정 -->    <!--★★★★★시험에서 이 부분 적어줘야함 ★★★★★-  -->
	<typeAliases>
		 <typeAlias type="VO.MemberVO" alias="Member" /> 
		 <typeAlias type="VO.PlaceVO" alias="Place"/>
		 <typeAlias type="VO.FriendVO" alias = "Friend"/>
		 <typeAlias type="VO.TwoPlaceVO" alias="TwoPlace"/> 
		 <typeAlias type="VO.TestPlaceVO" alias = "TestPlaceVO"/>
		 <typeAlias type="VO.FavoriteVO" alias="Favorite"/>  
		 <!-- ★★★★★VO가 늘어나면 이부분을 늘려준다!!!!!!!!!!!!!!!!!!★★★★★ --> 
 	<!--- <typeAlias type="VO.ChickenVO" alias="Chicken" />   -->
 <!--- <typeAlias type="VO.ChickenVO" alias="Chicken" />   -->
 <!--- <typeAlias type="VO.ChickenVO" alias="Chicken" />   -->
		 <!-- ★★★★★VO가 늘어나면 이부분을 늘려준다!!!!!!!!!!!!!!!!!!★★★★★ --> 
		 
	</typeAliases>
	
	<!-- DB접속 정보 셋팅 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	
	<!-- Mapper 파일 include -->
	<mappers>
	<mapper resource="MemberMapper.xml" /> <!--★★★★★시험에서 이 부분 적어줘야함 ★★★★★-  -->
	<mapper resource="PlaceMapper.xml"/>
	<mapper resource="FriendMapper.xml"/>
	 <mapper resource="TwoPlaceMapper.xml"/>
	  <mapper resource="FavoriteMapper.xml"/>  
	</mappers>
	
</configuration>
