<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">					<!-- 시험에 이부분만 나오고 아래는 다 적어야함 ㅜ★★★★★ -->

<!-- 회원 정보 처리 SQL -->
<!--<mapper namespace="">  -->
<!--  </mapper>-->

<!-- ★★★★ㅁ8시험에서 이런상태일거임,,,,, -->

<!-- placeID varchar2(30) primary key
,placeName varchar2(50)
,placeLon varchar2(20)
,placeLat  -->

<mapper namespace = "DAO.PlaceMapper">
<insert id = "insertPlace" parameterType="Place"> <!-- 파라미터타입인지, 리절트타입인지 잘 판단하깅 -->
insert into Place(placeID,placeName,placeLon,placeLat)
values(#{placeID},#{placeName},#{placeLon},#{placeLat})
</insert>
<select id = "selectPlace" parameterType = "String" resultType="Place">
select 
	placeID
	,placeName
	,placeLon
	,placeLat
from 
	Place
where placeID = #{placeID}
</select>
<select id="placeIDCheck" parameterType = "String" resultType="int">
select count(*)
from Place
where placeID = #{placeID}
</select>
<select id="listPlace" resultType="Place">
select 
	placeID
	,placeName
	,placeLon
	,placeLat
from Place
</select>

</mapper>